/* @import url("https://fonts.google.apis.com/css?family=Poppins:400,700,500");

:root {
  --font-size-m: 24px;
  --font-size-l: 40px;
  --font-size-xl: 100px;
  --font-family-poppins: "Poppins";

} */

body {
  background-image: url('../assets/background.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: #FFFFFF;
}

/* adjusting the entire content of the site*/
.frame-1 {
  padding-top: 210px;
}

.frame-2 {
  padding-top: 130px;
}

/* adjusing spacing */
.drop-down-spacing {
  padding-top: 120px;
}

.logo-spacing {
  padding-top: 20px;
  margin-left: 640px;
}

.rectangle-spacing {
  padding-top: 50px;
}

/* About page rectangles*/
.blue-rectangle  {
  background-color: rgba(0, 71, 255, 1);
  border:1px none;
  border-radius: 20px;
  height: 259px;
  width: 241px;
}

