@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
  --font-size-s: 14px;

  --font-size-m: 24px;
  --font-size-l: 40px;
  --font-size-xl: 80px;
  --font-family-poppins: "Poppins";

}

body {
  background-image: url('../assets/background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: #16232e;
}


h2 {
  font-size: var(--font-size-xl);
  font-family: var(--font-family-poppins);
  font-weight: 500;
}

 h5 {
  font-size: var(--font-size-m);
  font-family: var(--font-family-poppins);
  font-weight: 500;
  text-align: center;
 }

 p {
  font-size: var(--font-size-s);
  font-family: var(--font-family-poppins);
  font-weight: 500;
  text-align: center;
 }

/* adjusting the entire content of the site*/
.frame-1 {
  padding-top: 210px;
}

.frame-2 {
  padding-top: 130px;
}

.frame-3 {
  padding-top: 320px;
}

/* adjusing spacing */
.drop-down-spacing {
  padding-top: 120px;
}

.logo-spacing {
  padding-top: 20px;
  margin-left: 640px;
}

.rectangle-spacing {
  padding-top: 50px;
}

/*z-index*/
.student-icon{
    position: absolute;
    left: 325px;
    top: 440px;
    z-index: 3;
}

.student-700 {
    position: absolute;
    left: 316px;
    top: 580px;
    z-index: 3;

}

.earth-icon {
    position: absolute;
    left: 663px;
    top: 440px;
    z-index: 3;
}

.countries-10 {
  position: absolute;
    left: 652px;
    top: 580px;
    z-index: 3;
}

.clock-icon {
  position: absolute;
  left: 1000px;
  top: 440px;
  z-index: 3;
}

.hours-144 {
  position: absolute;
  left: 1000px;
  top: 580px;
  z-index: 3;
}

.folder-icon {
    position: absolute;
    left: 1340px;
    top: 440px;
    z-index: 3;
}

.projects-120{
    position: absolute;
    left: 1336px;
    top: 580px;
    z-index: 3;
}

/* About page rectangles*/
.blue-rectangle  {
  background-color: #2047DD;
  border: 1px none;
  border-radius: 20px;
  height: 259px;
  width: 241px;
}

/* CSS */
.button-18 {
  align-items: center;
  background-color: #2047DD;
  border: 0;
  border-radius: 20px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: Poppins;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  /* max-width: 480px; */
  width: 250px;
  min-height: 60px;
  /* min-width: 0px; */
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  font-size: 20px;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  text-decoration: none;
  -webkit-user-select: none;
  vertical-align: middle;
}

.button-18:hover,
.button-18:focus { 
  background-color: #16437E;
  color: #ffffff;
}

.button-18:active {
  background: #09223b;
  color: rgb(255, 255, 255, .7);
}

.button-18:disabled { 
  cursor: not-allowed;
  background: rgba(0, 0, 0, .08);
  /* color: rgba(0, 0, 0, .3); */
}