/* @import url("https://fonts.google.apis.com/css?family=Poppins:400,700,500");

:root {
  --font-size-m: 24px;
  --font-size-l: 40px;
  --font-size-xl: 100px;
  --font-family-poppins: "Poppins";

  --blue: rgba(0, 71, 255, 1);
  --white: rgba(255, 255, 255, 1);
} */

body {
  background-image: url('../assets/background.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: #FFFFFF;
}


.frame-1 {
  padding-top: 210px;
}

.drop-down-spacing {
  padding-top: 120px;
}

.blue-rectangle  {
  background-color: var(--blue);
  border:1px none;
  border-radius: 20px;
  height: 259px;
  width: 241px;
}

.blurred-white-rectangle {
  background-color: var(--white);
  border: 1px none;
  border-radius: 20px;
  filter: blur(4px);
  opacity: 0.85;
  width: 241px;
  height: 259px;
  margin-left: 20px;
  margin-top: 15px;
}

.logo-spacing {
  padding-top: 20px;
  margin-left: 640px;
}

/*overlaying blue and white rectangles*/
#container {
  width: 241px;
  height: 259px;
  position: relative;
}

#navi,
#infoi {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}


#infoi {
  z-index: 10;
}
